openapi: 3.1.1
info:
  title: RoadSafety-backend.Presentation | v1
  version: 1.0.0
servers:
  - url: https://roadsafety.my.to/
  - url: 127.0.0.1:5103
paths:
  /api/auth/register:
    post:
      tags:
        - Auth
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
          text/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
          application/*+json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
        required: true
      responses:
        "201":
          description: Created
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/AuthResponse"
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "400":
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "409":
          description: Conflict
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/auth/login:
    post:
      tags:
        - Auth
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
          text/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
          application/*+json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/AuthResponse"
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "400":
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "401":
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/auth/refresh:
    post:
      tags:
        - Auth
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshTokensRequest"
          text/json:
            schema:
              $ref: "#/components/schemas/RefreshTokensRequest"
          application/*+json:
            schema:
              $ref: "#/components/schemas/RefreshTokensRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/RefreshTokensResponse"
            application/json:
              schema:
                $ref: "#/components/schemas/RefreshTokensResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/RefreshTokensResponse"
        "400":
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "401":
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/auth/logout:
    post:
      tags:
        - Auth
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LogOutRequest"
          text/json:
            schema:
              $ref: "#/components/schemas/LogOutRequest"
          application/*+json:
            schema:
              $ref: "#/components/schemas/LogOutRequest"
        required: true
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "401":
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/families:
    post:
      tags:
        - Family
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateFamilyRequest"
          text/json:
            schema:
              $ref: "#/components/schemas/CreateFamilyRequest"
          application/*+json:
            schema:
              $ref: "#/components/schemas/CreateFamilyRequest"
        required: true
      responses:
        "201":
          description: Created
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/CreateFamilyResponse"
            application/json:
              schema:
                $ref: "#/components/schemas/CreateFamilyResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/CreateFamilyResponse"
        "400":
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "401":
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/families/{familyId}:
    get:
      tags:
        - Family
      parameters:
        - name: familyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/GetFamilyResponse"
            application/json:
              schema:
                $ref: "#/components/schemas/GetFamilyResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/GetFamilyResponse"
        "401":
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "404":
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/families/{familyId}/city:
    put:
      tags:
        - Family
      parameters:
        - name: familyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateFamilyCityRequest"
          text/json:
            schema:
              $ref: "#/components/schemas/UpdateFamilyCityRequest"
          application/*+json:
            schema:
              $ref: "#/components/schemas/UpdateFamilyCityRequest"
        required: true
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "401":
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "404":
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/families/{familyId}/members:
    get:
      tags:
        - Family
      parameters:
        - name: familyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/GetFamilyMembersResponse"
            application/json:
              schema:
                $ref: "#/components/schemas/GetFamilyMembersResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/GetFamilyMembersResponse"
        "401":
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "404":
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/families/join-by-invite:
    post:
      tags:
        - Family
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JoinFamilyByInviteCodeRequest"
          text/json:
            schema:
              $ref: "#/components/schemas/JoinFamilyByInviteCodeRequest"
          application/*+json:
            schema:
              $ref: "#/components/schemas/JoinFamilyByInviteCodeRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/JoinFamilyByInviteCodeResponse"
            application/json:
              schema:
                $ref: "#/components/schemas/JoinFamilyByInviteCodeResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/JoinFamilyByInviteCodeResponse"
        "400":
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "401":
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "404":
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "409":
          description: Conflict
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/families/invite-code:
    post:
      tags:
        - Family
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateInviteCodeRequest"
          text/json:
            schema:
              $ref: "#/components/schemas/CreateInviteCodeRequest"
          application/*+json:
            schema:
              $ref: "#/components/schemas/CreateInviteCodeRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/CreateInviteCodeResponse"
            application/json:
              schema:
                $ref: "#/components/schemas/CreateInviteCodeResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/CreateInviteCodeResponse"
        "400":
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "401":
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "404":
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/maps/cities:
    get:
      tags:
        - Maps
      responses:
        "200":
          description: OK
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/MapCitiesResponse"
            application/json:
              schema:
                $ref: "#/components/schemas/MapCitiesResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/MapCitiesResponse"
  /api/maps/cities/{cityId}/metadata:
    get:
      tags:
        - Maps
      parameters:
        - name: cityId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/MapCityMetadataResponse"
            application/json:
              schema:
                $ref: "#/components/schemas/MapCityMetadataResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/MapCityMetadataResponse"
        "400":
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "404":
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/maps/tiles/{cityId}/{z}/{x}/{y}.pbf:
    get:
      tags:
        - Maps
      parameters:
        - name: cityId
          in: path
          required: true
          schema:
            type: string
        - name: z
          in: path
          required: true
          schema:
            pattern: ^-?(?:0|[1-9]\d*)$
            type: integer
            format: int32
        - name: x
          in: path
          required: true
          schema:
            pattern: ^-?(?:0|[1-9]\d*)$
            type: integer
            format: int32
        - name: y
          in: path
          required: true
          schema:
            pattern: ^-?(?:0|[1-9]\d*)$
            type: integer
            format: int32
        - name: v
          in: query
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/vnd.mapbox-vector-tile:
              schema:
                $ref: "#/components/schemas/FileContentResult"
        "400":
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/maps/user-areas:
    get:
      tags:
        - Maps
      parameters:
        - name: familyId
          in: query
          schema:
            type: string
            format: uuid
        - name: childId
          in: query
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/UserMapAreaFeatureCollection"
            application/json:
              schema:
                $ref: "#/components/schemas/UserMapAreaFeatureCollection"
            text/json:
              schema:
                $ref: "#/components/schemas/UserMapAreaFeatureCollection"
        "400":
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "401":
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "404":
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/maps/alert-zones:
    get:
      tags:
        - Maps
      parameters:
        - name: cityId
          in: query
          schema:
            type: string
        - name: familyId
          in: query
          schema:
            type: string
            format: uuid
        - name: childId
          in: query
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/AlertZonesResponse"
            application/json:
              schema:
                $ref: "#/components/schemas/AlertZonesResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/AlertZonesResponse"
        "400":
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "401":
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "404":
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/maps/user-areas/base-overrides:
    post:
      tags:
        - Maps
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBaseAreaOverrideRequest"
          text/json:
            schema:
              $ref: "#/components/schemas/CreateBaseAreaOverrideRequest"
          application/*+json:
            schema:
              $ref: "#/components/schemas/CreateBaseAreaOverrideRequest"
        required: true
      responses:
        "201":
          description: Created
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/UserMapAreaFeature"
            application/json:
              schema:
                $ref: "#/components/schemas/UserMapAreaFeature"
            text/json:
              schema:
                $ref: "#/components/schemas/UserMapAreaFeature"
        "400":
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "401":
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "404":
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
    delete:
      tags:
        - Maps
      parameters:
        - name: familyId
          in: query
          schema:
            type: string
            format: uuid
        - name: baseAreaKey
          in: query
          schema:
            type: string
        - name: childId
          in: query
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "401":
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "404":
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/maps/user-areas/custom:
    post:
      tags:
        - Maps
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCustomUserMapAreaRequest"
          text/json:
            schema:
              $ref: "#/components/schemas/CreateCustomUserMapAreaRequest"
          application/*+json:
            schema:
              $ref: "#/components/schemas/CreateCustomUserMapAreaRequest"
        required: true
      responses:
        "201":
          description: Created
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/UserMapAreaFeature"
            application/json:
              schema:
                $ref: "#/components/schemas/UserMapAreaFeature"
            text/json:
              schema:
                $ref: "#/components/schemas/UserMapAreaFeature"
        "400":
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "401":
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "404":
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/maps/user-areas/custom/{areaId}:
    delete:
      tags:
        - Maps
      parameters:
        - name: areaId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "401":
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "404":
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/notifications:
    get:
      tags:
        - Notifications
      parameters:
        - name: unreadOnly
          in: query
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: OK
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/NotificationsResponse"
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationsResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/NotificationsResponse"
        "401":
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/notifications/{id}/read:
    post:
      tags:
        - Notifications
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: No Content
        "401":
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "404":
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/notifications/device-tokens:
    post:
      tags:
        - Notifications
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterDeviceTokenRequest"
          text/json:
            schema:
              $ref: "#/components/schemas/RegisterDeviceTokenRequest"
          application/*+json:
            schema:
              $ref: "#/components/schemas/RegisterDeviceTokenRequest"
        required: true
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "401":
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/notifications/device-tokens/{token}:
    delete:
      tags:
        - Notifications
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "401":
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/tracking/location:
    post:
      tags:
        - Tracking
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubmitLocationRequest"
          text/json:
            schema:
              $ref: "#/components/schemas/SubmitLocationRequest"
          application/*+json:
            schema:
              $ref: "#/components/schemas/SubmitLocationRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/SubmitLocationResponse"
            application/json:
              schema:
                $ref: "#/components/schemas/SubmitLocationResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/SubmitLocationResponse"
        "400":
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "401":
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/tracking/children/{childId}/location:
    get:
      tags:
        - Tracking
      parameters:
        - name: childId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ChildLocationResponse"
            application/json:
              schema:
                $ref: "#/components/schemas/ChildLocationResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/ChildLocationResponse"
        "401":
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "404":
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/tracking/children/locations:
    get:
      tags:
        - Tracking
      responses:
        "200":
          description: OK
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ChildLocationsResponse"
            application/json:
              schema:
                $ref: "#/components/schemas/ChildLocationsResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/ChildLocationsResponse"
        "401":
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/tracking/children/{childId}/stats:
    get:
      tags:
        - Tracking
      parameters:
        - name: childId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ChildStatsResponse"
            application/json:
              schema:
                $ref: "#/components/schemas/ChildStatsResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/ChildStatsResponse"
        "401":
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/users:
    get:
      tags:
        - Users
      parameters:
        - name: email
          in: query
          schema:
            type: string
        - name: phone
          in: query
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/UserResponse"
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
        "400":
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "401":
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "404":
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/users/me:
    get:
      tags:
        - Users
      responses:
        "200":
          description: OK
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/UserResponse"
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
        "401":
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "404":
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
components:
  schemas:
    AlertZoneResponse:
      required:
        - id
        - baseAreaKey
        - risk
        - source
        - geometry
      type: object
      properties:
        id:
          type: string
          format: uuid
        baseAreaKey:
          type:
            - "null"
            - string
        risk:
          type: string
        source:
          type: string
        geometry:
          $ref: "#/components/schemas/GeoJsonGeometryDto"
    AlertZonesResponse:
      required:
        - cityId
        - generationVersion
        - zones
      type: object
      properties:
        cityId:
          type: string
        generationVersion:
          type:
            - "null"
            - string
          format: date-time
        zones:
          type: array
          items:
            $ref: "#/components/schemas/AlertZoneResponse"
    AuthResponse:
      required:
        - userId
        - accessToken
        - accessTokenExpiresAt
        - refreshToken
        - refreshTokenExpiresAt
      type: object
      properties:
        userId:
          type: string
          format: uuid
        accessToken:
          type: string
        accessTokenExpiresAt:
          type: string
          format: date-time
        refreshToken:
          type: string
        refreshTokenExpiresAt:
          type: string
          format: date-time
    ChildLocationResponse:
      required:
        - childId
        - displayName
        - latitude
        - longitude
        - accuracyMeters
        - currentRisk
        - lastUpdatedAt
      type: object
      properties:
        childId:
          type: string
          format: uuid
        displayName:
          type: string
        latitude:
          pattern: ^-?(?:0|[1-9]\d*)(?:\.\d+)?(?:[eE][+-]?\d+)?$
          type:
            - number
            - string
          format: double
        longitude:
          pattern: ^-?(?:0|[1-9]\d*)(?:\.\d+)?(?:[eE][+-]?\d+)?$
          type:
            - number
            - string
          format: double
        accuracyMeters:
          pattern: ^-?(?:0|[1-9]\d*)(?:\.\d+)?(?:[eE][+-]?\d+)?$
          type:
            - "null"
            - number
            - string
          format: double
        currentRisk:
          $ref: "#/components/schemas/RiskLevel"
        lastUpdatedAt:
          type: string
          format: date-time
    ChildLocationsResponse:
      required:
        - children
      type: object
      properties:
        children:
          type: array
          items:
            $ref: "#/components/schemas/ChildLocationResponse"
    ChildStatsResponse:
      required:
        - childId
        - totalScore
        - rating
      type: object
      properties:
        childId:
          type: string
          format: uuid
        totalScore:
          pattern: ^-?(?:0|[1-9]\d*)$
          type:
            - integer
            - string
          format: int32
        rating:
          pattern: ^-?(?:0|[1-9]\d*)$
          type:
            - integer
            - string
          format: int32
    CreateBaseAreaOverrideRequest:
      required:
        - familyId
        - childId
        - baseAreaKey
        - risk
      type: object
      properties:
        familyId:
          type: string
          format: uuid
        childId:
          type:
            - "null"
            - string
          format: uuid
        baseAreaKey:
          type: string
        risk:
          $ref: "#/components/schemas/RiskLevel"
    CreateCustomUserMapAreaRequest:
      required:
        - familyId
        - childId
        - risk
        - geometry
      type: object
      properties:
        familyId:
          type: string
          format: uuid
        childId:
          type:
            - "null"
            - string
          format: uuid
        risk:
          $ref: "#/components/schemas/RiskLevel"
        geometry:
          $ref: "#/components/schemas/GeoJsonGeometryDto"
    CreateFamilyRequest:
      required:
        - cityId
      type: object
      properties:
        name:
          type:
            - "null"
            - string
        cityId:
          type:
            - "null"
            - string
    CreateFamilyResponse:
      required:
        - familyId
        - createdByUserId
      type: object
      properties:
        familyId:
          type: string
          format: uuid
        createdByUserId:
          type: string
          format: uuid
    CreateInviteCodeRequest:
      required:
        - inviteCodeRole
      type: object
      properties:
        inviteCodeRole:
          type: string
    CreateInviteCodeResponse:
      required:
        - inviteCode
      type: object
      properties:
        inviteCode:
          type: string
    DevicePlatform:
      enum:
        - Android
    EntityTagHeaderValue:
      type: object
      properties:
        tag:
          $ref: "#/components/schemas/StringSegment"
        isWeak:
          type: boolean
    FileContentResult:
      type: object
      properties:
        fileContents:
          type: string
          format: byte
        contentType:
          type:
            - "null"
            - string
        fileDownloadName:
          type:
            - "null"
            - string
        lastModified:
          type:
            - "null"
            - string
          format: date-time
        entityTag:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/EntityTagHeaderValue"
        enableRangeProcessing:
          type: boolean
    GeoJsonGeometryDto:
      required:
        - type
        - coordinates
      type: object
      properties:
        type:
          type: string
        coordinates:
          type: array
          items:
            type: array
            items:
              type: array
              items:
                pattern: ^-?(?:0|[1-9]\d*)(?:\.\d+)?(?:[eE][+-]?\d+)?$
                type:
                  - number
                  - string
                format: double
    GetFamilyMembersResponse:
      required:
        - members
      type: object
      properties:
        members:
          type: array
          items:
            $ref: "#/components/schemas/MemberDto"
    GetFamilyResponse:
      required:
        - id
        - name
        - createdByUserId
        - cityId
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type:
            - "null"
            - string
        createdByUserId:
          type: string
          format: uuid
        cityId:
          type: string
    JoinFamilyByInviteCodeRequest:
      required:
        - inviteCode
        - userRole
      type: object
      properties:
        inviteCode:
          type: string
        userRole:
          type: string
    JoinFamilyByInviteCodeResponse:
      required:
        - userId
        - familyId
        - role
      type: object
      properties:
        userId:
          type: string
          format: uuid
        familyId:
          type: string
          format: uuid
        role:
          type: string
    LoginRequest:
      required:
        - login
        - password
      type: object
      properties:
        login:
          type: string
        password:
          type: string
    LogOutRequest:
      required:
        - refreshToken
      type: object
      properties:
        refreshToken:
          type: string
    MapCitiesResponse:
      required:
        - cities
      type: object
      properties:
        cities:
          type: array
          items:
            $ref: "#/components/schemas/MapCityResponse"
    MapCityBboxResponse:
      required:
        - minLon
        - minLat
        - maxLon
        - maxLat
      type: object
      properties:
        minLon:
          pattern: ^-?(?:0|[1-9]\d*)(?:\.\d+)?(?:[eE][+-]?\d+)?$
          type:
            - number
            - string
          format: double
        minLat:
          pattern: ^-?(?:0|[1-9]\d*)(?:\.\d+)?(?:[eE][+-]?\d+)?$
          type:
            - number
            - string
          format: double
        maxLon:
          pattern: ^-?(?:0|[1-9]\d*)(?:\.\d+)?(?:[eE][+-]?\d+)?$
          type:
            - number
            - string
          format: double
        maxLat:
          pattern: ^-?(?:0|[1-9]\d*)(?:\.\d+)?(?:[eE][+-]?\d+)?$
          type:
            - number
            - string
          format: double
    MapCityMetadataResponse:
      required:
        - cityId
        - generationVersion
        - bbox
      type: object
      properties:
        cityId:
          type: string
        generationVersion:
          type: string
          format: date-time
        bbox:
          $ref: "#/components/schemas/MapCityBboxResponse"
    MapCityResponse:
      required:
        - cityId
        - name
        - bbox
      type: object
      properties:
        cityId:
          type: string
        name:
          type: string
        bbox:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/MapCityBboxResponse"
    MemberDto:
      required:
        - id
        - role
        - displayName
        - login
      type: object
      properties:
        id:
          type: string
          format: uuid
        role:
          type: string
        displayName:
          type: string
        login:
          type: string
    NotificationResponse:
      required:
        - id
        - recipientUserId
        - childId
        - type
        - title
        - body
        - risk
        - latitude
        - longitude
        - createdAt
        - readAt
      type: object
      properties:
        id:
          type: string
          format: uuid
        recipientUserId:
          type: string
          format: uuid
        childId:
          type:
            - "null"
            - string
          format: uuid
        type:
          $ref: "#/components/schemas/NotificationType"
        title:
          type: string
        body:
          type: string
        risk:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/RiskLevel"
        latitude:
          pattern: ^-?(?:0|[1-9]\d*)(?:\.\d+)?(?:[eE][+-]?\d+)?$
          type:
            - "null"
            - number
            - string
          format: double
        longitude:
          pattern: ^-?(?:0|[1-9]\d*)(?:\.\d+)?(?:[eE][+-]?\d+)?$
          type:
            - "null"
            - number
            - string
          format: double
        createdAt:
          type: string
          format: date-time
        readAt:
          type:
            - "null"
            - string
          format: date-time
    NotificationsResponse:
      required:
        - notifications
      type: object
      properties:
        notifications:
          type: array
          items:
            $ref: "#/components/schemas/NotificationResponse"
    NotificationType:
      enum:
        - ChildEnteredRedZone
    ProblemDetails:
      type: object
      properties:
        type:
          type:
            - "null"
            - string
        title:
          type:
            - "null"
            - string
        status:
          pattern: ^-?(?:0|[1-9]\d*)$
          type:
            - "null"
            - integer
            - string
          format: int32
        detail:
          type:
            - "null"
            - string
        instance:
          type:
            - "null"
            - string
    RefreshTokensRequest:
      required:
        - refreshToken
      type: object
      properties:
        refreshToken:
          type: string
    RefreshTokensResponse:
      required:
        - accessToken
        - accessTokenExpiresAt
        - refreshToken
        - refreshTokenExpiresAt
      type: object
      properties:
        accessToken:
          type: string
        accessTokenExpiresAt:
          type: string
          format: date-time
        refreshToken:
          type: string
        refreshTokenExpiresAt:
          type: string
          format: date-time
    RegisterDeviceTokenRequest:
      required:
        - token
        - platform
      type: object
      properties:
        token:
          type: string
        platform:
          $ref: "#/components/schemas/DevicePlatform"
    RegisterRequest:
      required:
        - login
        - password
      type: object
      properties:
        login:
          type: string
        password:
          type: string
    RiskLevel:
      enum:
        - Green
        - Yellow
        - Red
    StringSegment:
      type: object
      properties:
        buffer:
          type:
            - "null"
            - string
        offset:
          pattern: ^-?(?:0|[1-9]\d*)$
          type:
            - integer
            - string
          format: int32
        length:
          pattern: ^-?(?:0|[1-9]\d*)$
          type:
            - integer
            - string
          format: int32
        value:
          type:
            - "null"
            - string
        hasValue:
          type: boolean
    SubmitLocationRequest:
      required:
        - childId
        - latitude
        - longitude
        - accuracyMeters
        - recordedAt
      type: object
      properties:
        childId:
          type:
            - "null"
            - string
          format: uuid
        latitude:
          pattern: ^-?(?:0|[1-9]\d*)(?:\.\d+)?(?:[eE][+-]?\d+)?$
          type:
            - number
            - string
          format: double
        longitude:
          pattern: ^-?(?:0|[1-9]\d*)(?:\.\d+)?(?:[eE][+-]?\d+)?$
          type:
            - number
            - string
          format: double
        accuracyMeters:
          pattern: ^-?(?:0|[1-9]\d*)(?:\.\d+)?(?:[eE][+-]?\d+)?$
          type:
            - "null"
            - number
            - string
          format: double
        recordedAt:
          type:
            - "null"
            - string
          format: date-time
    SubmitLocationResponse:
      required:
        - childId
        - currentRisk
        - matchedUserAreaId
        - matchedBaseAreaKey
        - lastUpdatedAt
      type: object
      properties:
        childId:
          type: string
          format: uuid
        currentRisk:
          $ref: "#/components/schemas/RiskLevel"
        matchedUserAreaId:
          type:
            - "null"
            - string
          format: uuid
        matchedBaseAreaKey:
          type:
            - "null"
            - string
        lastUpdatedAt:
          type: string
          format: date-time
    UpdateFamilyCityRequest:
      required:
        - cityId
      type: object
      properties:
        cityId:
          type:
            - "null"
            - string
    UserMapAreaFeature:
      required:
        - type
        - geometry
        - properties
      type: object
      properties:
        type:
          type: string
        geometry:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/GeoJsonGeometryDto"
        properties:
          $ref: "#/components/schemas/UserMapAreaProperties"
    UserMapAreaFeatureCollection:
      required:
        - type
        - features
      type: object
      properties:
        type:
          type: string
        features:
          type: array
          items:
            $ref: "#/components/schemas/UserMapAreaFeature"
    UserMapAreaProperties:
      required:
        - id
        - familyId
        - childId
        - baseAreaKey
        - risk
        - source
        - renderPriority
        - createdByUserId
        - createdAt
        - updatedAt
      type: object
      properties:
        id:
          type: string
          format: uuid
        familyId:
          type: string
          format: uuid
        childId:
          type:
            - "null"
            - string
          format: uuid
        baseAreaKey:
          type:
            - "null"
            - string
        risk:
          type: string
        source:
          type: string
        renderPriority:
          pattern: ^-?(?:0|[1-9]\d*)$
          type:
            - integer
            - string
          format: int32
        createdByUserId:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    UserResponse:
      required:
        - id
        - email
        - phoneNumber
        - firstName
        - lastName
        - patronymic
        - birthDate
        - familyId
        - familyRole
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type:
            - "null"
            - string
        phoneNumber:
          type:
            - "null"
            - string
        firstName:
          type:
            - "null"
            - string
        lastName:
          type:
            - "null"
            - string
        patronymic:
          type:
            - "null"
            - string
        birthDate:
          type:
            - "null"
            - string
          format: date
        familyId:
          type:
            - "null"
            - string
          format: uuid
        familyRole:
          type:
            - "null"
            - string
tags:
  - name: Auth
  - name: Family
  - name: Maps
  - name: Notifications
  - name: Tracking
  - name: Users
